{% extends 'base.html' %}

{% block title %}
    General
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="display: flex">
                {% for animal in object_list %}
                    <div class="col-md-2">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ animal.img.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ animal.name }}</h5>
                                <p class="card-text">{{ animal.card.text }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ animal.kind.family }}</li>
                                <li class="list-group-item">{{ animal.kind }}</li>
                            </ul>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}