{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-bottom: 70px">
                <h2>
                    О нас
                </h2>
            </div>
            <div class="col-md-8">
                <p>
                    Берлинский зоопарк, первый зоопарк в Германии и девятый в мире, открылся 1 августа 1844 года. Король
                    Фридрих Вильгельм IV передал зоопарку Фазанерию в парке Тиргартен и несколько зверей[1].

                <p> В 1869 году директором стал доктор Генрих Бодинус[2]. При нём был построен вольер для антилоп,
                    который, прежде всего из-за своего экзотического стиля, быстро стал достопримечательностью. В
                    дальнейшем были сооружены вольеры для слонов, страусов, фламинго и известные ворота «Элефантентор»
                    (нем. Elefantentor). Также на территории зоопарка появились различные павильоны и рестораны.</p>

                <p>
                    В 1888 году доктор Людвиг Хек перенял руководство зоопарком и увеличил фонд животных, который вскоре
                    сравнялся с фондом лондонского зоопарка.
                </p>

                <p>
                    В 1913 году был построен аквариум по плану исследователя поведения животных доктора Оскара Хайнрота.
                    После Первой мировой войны сооружения были демонтированы по примеру зоопарка «Хагенбек» (нем.
                    Hagenbeck) в Гамбурге.
                </p>

                <p>
                    Во время Второй мировой войны большая часть зоопарка была разрушена. Из 3715 животных выжили всего
                    лишь 91, среди которых два льва, две гиены, один азиатский слон-самец, один бегемот-самец, десять
                    гамадрил, один шимпанзе, один чёрноклювый аист и один китоглав.
                </p>

                <p>
                    С 1945 по 1956 зоопарком руководила доктор Катарина Хайнрот, жена Оскара Хайнрота и в то время
                    единственная женщина-директор зоопарка. Она сумела заново отстроить зоопарк, были отремонтированы
                    вольеры для антилоп и для слонов, также построен вольер для бегемотов.
                </p>

                <p>
                    В 1956 руководство перешло к доктору Хайнц-Георгу Клёсу, проводившему дальнейшие восстановительные
                    работы. Были построены помещения для обезьян, птиц, вольер для медведей, помещения для хищников с
                    отдельным сооружением для зверей, ведущих ночной образ жизни; демонтирован аквариум. Началось
                    разведение редких или вымирающих видов животных. Под руководством Клёса на территории зоопарка были
                    выставлены скульптуры животных, основана зоошкола. Клёс уделял внимание реконструкции и возведению
                    заново многих старых зданий.
                </p>

                <p>
                    После воссоединения Германии началось объединение с зоопарком «Tierpark» в восточном Берлине,
                    считающимся самым большим ландшафтным зоопарком Европы.
                </p>
            </div>
        </div>
    </div>
{% endblock %}